<?xml version="1.0"?>
<configuration>

    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    </configSections>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <!--Externalise config files-->
  <appSettings file="AppSettings.config"></appSettings>
  <log4net configSource="log4net.config"></log4net>
  
  <system.serviceModel>
    
    <client>
      <endpoint address="http://localhost:8494/ReferenceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AllServices"
        contract="ReferenceService.IReferenceService" name="BasicHttpBinding_AllServices" />
    </client>
    
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_AllServices" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>

    <services>
      
      <service behaviorConfiguration="NeXT.DMT.Web.NormalBehavior" name="NeXT.DMT.Services.Implementation.ReferenceService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AllServices"
         contract="NeXT.DMT.Services.Contracts.IReferenceService" />
      </service>
      
    </services>
    
    <behaviors>
      
      <serviceBehaviors>
        <behavior name="NeXT.DMT.Web.NormalBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      
    </behaviors>
    
  </system.serviceModel>
  
</configuration>
