<appSettings>
  <clear/>

  <!--Configuration and Template path-->
  <add key="ConfigPath" value="H:\Developments\dotnet\deploy_mgt_tool\trunk\Delivery_Tool\Configs"/>
  <add key="TemplatePath" value="H:\Developments\dotnet\deploy_mgt_tool\trunk\Delivery_Tool\Templates"/>
  <add key="OutputPath" value="\\LIFESTYLE\FileService\Factories_Dev\Livraisons"/>

  <!--Application settings-->
  <add key="ApplicationListFile" value="ApplicationList.xml"/>
  <add key="DeliverableListFile" value="DeliverableList.xml"/>
  <add key="PersonListFile" value="PersonList.xml"/>

  <add key="RFCTemplateFile" value="RFC_Template3.docx"/>
  <add key="BLTemplateFile" value="BL_Template.docx"/>


  <!--Documents Naming Convention-->

  <!-- (Ex. ITF666)-->
  <add key="InternalsDirectoryFormat" value="IFT{0}"/>

  <!--(Ex. IPRI_Liv_2_(DELTA)-->
  <add key="ExternalsDirectoryFormat" value="{0}_Liv_{1}_({2})"/>

  <!--BL_QUADRI_IFT_DATE (Ex. BL_IPRI_ITF587_20120328)-->
  <add key="BLFormat" value="BL_{0}_{1}_{2}" />

  <!--RFC_QUADRI_IFT_VERSION_DATE_ENV (Ex. RFC_IPRI_ITF594_2.2.0_20120328_UAT)-->
  <add key="RFCFormatIntAndUat" value="RFC_{0}_{1}_{2}_{3}_{4}" />

  <!--RFC_QUADRI_Liv_X_Env (Ex. RFC_IPRI_Liv_2_PROD)-->
  <add key="RFCFormatStaAndProd" value="RFC_{0}_{1}_{2}_{3}" />
  
  <!--TS_QUADI_IFT_VERSION_DATE (Ex. TS_IPRI_ITF594_2.2.0_20120327)-->
  <add key="TestScriptFormat" value="TS_{0}_{1}_{2}_{3}" />

  <!--IPRI_2.2.0_WEB_SetUp.mcop-->
  <add key="McopFormat" value="{0}_{1}_{2}_{3}.mcop" />
</appSettings>